        .vote_close_btn {
            display: none;
            margin: auto;
            background-color: #B7142B;
            padding: 10px 20px;
            color: #fff;
            border-radius: 10px;
        }

        #login-modal {
            display: none;
        }
        #register-modal {
            display: none;
        }

        #video-modal {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.9);
            height: -webkit-fill-available;
            display: none;
            z-index: 9999;
            background: rgba(0,0,0,0.9);
            /* -webkit-box-align: start; */
            align-items: center;
            -webkit-box-pack: center;
        }
        #video-modal .modal-body {
            display: flex;
            position: relative;
            max-width: 480px;
            width: 100%;
            margin: auto;
            background: #ffffff;
        }
        #video-modal .modal-content {
            width: 100%;
            display: block;
            margin: auto;
            position: relative;
            background-color: #fff;
        }
        #video-modal .sbi_video {
            display: block;
            position: relative;
        }
        #video-modal .modal__dialog {
          max-width: 1000px;
            width: 980px;
          padding: 1.2rem;
            margin-top: 150px;
        }
        #vote-modal iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            border: 0;
            display: none;
            overflow: hidden;
        }
        #vote-modal .modal-content {
            min-height: 530px;
        }