@charset "UTF-8";
@font-face {
    font-family: 'rockwellregular';
    src: url('https://beerlife.com/wp-content/themes/Newspaper/fonts/rockwell/rockwell-webfont.woff2') format('woff2'),
         url('https://beerlife.com/wp-content/themes/Newspaper/fonts/rockwell/rockwell-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eveleth';
    src: url('https://beerlife.com/wp-content/themes/Newspaper/fonts/eveleth-slanth/eveleth-slanth.woff2') format('woff2'),
         url('https://beerlife.com/wp-content/themes/Newspaper/fonts/eveleth-slanth/eveleth-slanth.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url('https://beerlife.com/wp-content/themes/Newspaper/fonts/bebas/BebasNeue-Regular.woff2') format('woff2'),
         url('https://beerlife.com/wp-content/themes/Newspaper/fonts/bebas/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
h1,h2,h3,h4,h5,h6{
    display: block;
}
.slider-section{
	min-height: 566px;
	width: 100%;
    background: url(https://beerlife.com/wp-content/uploads/2020/08/Slider-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slider-section .slider-content{
    width: 100%;
    height: auto;
}
.slider-section h1{
	font-family: 'eveleth';
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 45px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 0;
}
.slider-section h2{
	font-family: 'bebas';
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 0;
}
.slider-section h4{
	font-family: 'rockwellregular';
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 30px;
    letter-spacing: 3px;
    font-weight: 200;
    margin-bottom: 15px;
    margin-top: 0;
}
.slider-section img.funds{
    margin-bottom: 20px;
}
.slider-section img.slider-thumbnail{
    margin-right: auto;
    width: auto;
    height: auto;
    display: block;
}
.participate-btn{
    padding: 10px 20px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 3px;
	font-family: 'bebas';
    font-size: 25px;
    text-decoration: none;
    border: 1px solid #91cd32;
    border-radius: 5px;
    background: linear-gradient(#91cd32,#269a3f);
    display: inline-block;
    text-align: center;
    margin: auto;
}
.participate-btn::after{
    content: '';
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/right-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 22px;
    width: 22px;
    margin-left: 12px;
    top: 2px;
    display: inline-block;
}
.slider-section .bl-row{
	display: flex;
	flex-wrap: wrap;
    align-items: center;
}
.entries-btn{
    padding: 10px 30px;
    text-transform: uppercase;
    color: #ffb400;
    letter-spacing: 3px;
	font-family: 'bebas';
    font-size: 25px;
    line-height: 25px;
    text-decoration: none;
    border: 1px solid #ffb400;
    border-radius: 5px;
    background-color: #000000;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-left: 10px;
}
.vote-btn{
    padding: 7px 20px !important;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 1px;
	font-family: 'bebas';
    font-size: 25px;
    line-height: 25px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
    background: linear-gradient(#ffb400,#ff8a00);
    display: block;
    text-align: left;
    margin: auto;
    width: 56%;
    margin-bottom: 10px;
    cursor: pointer;
    left: 0;
}
.vote-btn::after{
    content: '';
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/right-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 22px;
    width: 22px;
    margin-left: 12px;
    float: right;
    top: 2px;
    display: inline-block;
}
.share-btn{
    padding: 7px 20px;
    text-transform: uppercase;
    color: #ffb400;
    letter-spacing: 1px;
	font-family: 'bebas';
    font-size: 25px;
    text-decoration: none;
    border: 1px solid #ffb400;
    border-radius: 5px;
    background: #000000;
    display: block;
    text-align: left;
    margin: auto;
    width: 56%;
    margin-bottom: 10px;
    cursor: pointer;
}
.share-btn::after{
    content: '';
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/share-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 20px;
    width: 19px;
    margin-left: 12px;
    float: right;
    top: 2px;
    display: inline-block;
}






/* Idea and Mission Section */
.idea-section{
    width: 100%;
    min-height: 300px;
    background-color: #b7142b;
    padding-top: 50px;
}
.idea-section .ideas-gallery{
    display: block;
    width: 90%;
    height: auto;
}
.idea-section .section-title{
	font-family: 'eveleth';
	text-align: left;
	text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.idea-section .paragraph-white{
    font-size: 1.4rem;
    color: #ffffff;
    line-height: 2rem;
}

/* How To Participate Section */
.htp-section{
    width: 100%;
    min-height: 606px;
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/how-to-participate-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.htp-section .section-title{
	font-family: 'eveleth';
	text-align: left;
	text-transform: uppercase;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 40px;
}
.htp-section .bl-col-md-3{
    position: relative;
}
.htp-section .bl-col-md-3 .content-box{
    padding: 0 20px;
}
.htp-section .participate-icon{
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}
.htp-section h4{
    font-weight: 900;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
}
.htp-section .details{
    font-size: 1rem;
    color: #fff;
    text-align: center;
}


/* CTA Section */
.cta-section{
    width: 100%;
    min-height: 520px;
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/cta-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.cta-section .section-title{
	font-family: 'eveleth';
	text-align: left;
	text-transform: uppercase;
    color: #ffffff;
    font-size:80px;
    line-height: 85px;
    margin-bottom: 15px;
}
.cta-section .section-description{
    font-size: 1.4rem;
    color: #ffffff;
}




/* FAQ Section */
.faq-section{
    padding: 40px 0 80px;
    width: 100%;
    height: auto;
}
.faq-section .section-title{
    font-size: 2.3rem;
    font-weight: 100;
    margin-bottom: 20px;
}
.faq-section .faq-question{
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 15px;
    position: relative;
}
.faq-section .faq-question::after{
    content: '';
    width: 150px;
    height: 2px;
    background-color: #c75b26;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.faq-section .faq-answer{
    padding-right: 40px;
    font-weight: 300;
    color: #555555;
}



/* Header Slider Section */
.header-slider{
    width: 100%;
    min-height: 325px;
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/header-slider-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.header-slider .content-box{
    padding: 20px;
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/header-slider-content-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 85%;
    display: block;
    margin: auto;
}
.header-slider .header-title{
    font-size: 60px;
    font-family: 'eveleth';
    color: #ffffff;
    text-transform: uppercase;
}
.header-slider .header-subtitle{
    font-size: 1.7rem;
    color: #ffffff;
}
.header-slider .header-subtitle em{
    font-style: normal;
    font-weight: 600;
}
nav{
    padding: 0;
    background-color: #b7142b;
    display: flex !important;
    align-items: center;
} 
nav ul.bl-nav-list li a {
  color: #FFF;
  text-decoration: none;
    font-family: 'Bebas';
    font-size: 26px;
    line-height: 26px;
}
nav ul.bl-nav-list li a i.fa-crown{
    font-size: 10px;
    padding: 5.5px 5px;
    text-align: center;
    background: #ffffff;
    color: #b7142b;
    border-radius: 50%;
    position: relative;
    top: -5px;
}
/* End General */

/* Start Navbar */
nav ul.bl-nav-list {
  background-color: #b7142b;
    padding: 0 60px;
}
nav ul.bl-nav-list > li {
  padding: 25px 15px;
  display: inline-block;
  transition: all .3s ease;
  margin-left: -5px
}
nav ul.bl-nav-list > li:not(:last-of-type):hover {
  background-color: #b7142b
}
nav ul.bl-nav-list > li:first-of-type {
  background-color: #b7142b
}
nav ul.bl-nav-list > li:last-of-type {
  float: right;
}
nav ul.bl-nav-list > li:last-of-type a .fa {
  font-size: 21px
}
/* End Navbar */

/* Start Menue Right */
nav ul.bl-nav-list > li:last-of-type {
  position: relative;
  display: none
}
nav ul.bl-nav-list > ol {
  top: 49px;
  right: 0;
  background: #b7142b;
  text-align: center;
  list-style: none;
  display: none;
    padding-bottom: 25px;
}
nav ul.bl-nav-list > ol > li {
  width: auto;
  color: #FFF;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .3s ease;
}
nav ul.bl-nav-list > ol > li:hover a {
  margin: 20px;
}
nav ul.bl-nav-list > ol > li:hover {
  background: #b7142b;
  cursor: pointer
}
nav ul.bl-nav-list input {
  opacity: .7;
  padding: 5px;
  float: right;
  display: none
}
/* Start Menue Right */

/* Start Media Query */
@media screen and (max-width:680px){
  nav ul.bl-nav-list > li:not(:first-child) {
    display:none
  }
  nav ul.bl-nav-list > li:last-of-type {
    display: block
  }
  nav ul.bl-nav-list input {
    display: inline
  }
}
@media screen and (min-width:680px) {
  nav ul.bl-nav-list > ol > li {
    display:none
  }
}
/* End Media Query */
.bl-nav{
    background-color: #b7142b;
    padding: 25px 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.bl-nav .bl-nav-list{
    margin: 0;
    padding: 0;
    flex: 0 0 50%;
    display: block;
}
.bl-nav .bl-nav-list li{
    display: inline-block;
    padding-right: 40px;
    margin-left: 0;
}
.bl-nav .bl-nav-list li a{
    color: #ffffff;
    font-family: 'Bebas';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
}
.bl-nav .bl-nav-list li a i{
    font-size: 10px;
    padding: 5.5px 5px;
    text-align: center;
    background: #ffffff;
    color: #b7142b;
    border-radius: 50%;
    position: relative;
    top: -5px;
}

.bl-control-list{
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    padding: 0 60px;
}
.page-template-leaderboard .bl-control-list{
    padding: 0 60px;
}
.bl-control-list li{
    display: inline-block;
    padding-right: 5px;
    margin-left: 0;
}
.bl-control-list li a{
    color: #ffffff;
    font-family: 'Bebas';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 26px;
}
.bl-control-list li a.login{
    border: 1px solid #ffffff !important;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 25px;
}
.logged-in .bl-nav .bl-control-list li a.login{
    border: 0;
    text-align: left;
}
.bl-control-list li a.submit{
    background-color: #1787c1;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 25px;
}

/* Main Content */
.main-content{
    padding: 40px 0 60px;
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    border-top: 1px solid #d0d0d0;
}
.main-content .content-title{
    font-size: 40px;
    font-family: 'Karla', sans-serif;
}
.main-content .top-video{
    padding: 0;
    margin: 0;
    display: table;
    margin: auto;
    margin-top: 30px;
    width: 80%;
    box-shadow: 2px 2px 20px  rgba(0,0,0,0.1);
}
.main-content .top-video li{
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 0;
}
.main-content .top-video .top-video-img{
    width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
    object-position: center;
}
.main-content .top-video .ig-name{
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Karla', sans-serif;
}
.main-content .top-video .ig-name i{
    color: #e01a98 !important;
    padding-right: 10px;
}
.main-content .top-video .vote-counts{
    color: #b7142b;
    font-size: 90px;
    line-height: 90px;
    font-weight: 900;
    display: block;
    margin-bottom: -5px;
}
.main-content .top-video .votes{
    color: #b7142b;
    font-weight: 800;
    display: block;
    letter-spacing: 1px;
}
.main-content .top-video .social-media-icons{
    margin-top: 20px;
    width: auto;
    margin: auto;
    display:block;
}

/* Next Ten Videos */
.next-ten-videos{
    padding: 20px 60px 40px;
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
}
.next-ten-videos .video-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}
.next-ten-videos .video-list li{
    flex: 0 0 20%;
    list-style: none;
    padding: 15px;
    text-align: center !important;
    margin-left: 0;
}
.next-ten-videos .video-list li .list-box{
    background-color: #ffffff;
    padding: 20px 20px 30px;
    box-shadow: 2px 2px 20px  rgba(0,0,0,0.1);
}
.next-ten-videos .video-list li .video-img{
    width: 100%;
    height: 315px;
    object-fit: cover;
    object-position: center;
}
.next-ten-videos .video-list li .list-box .top-content{
    width: 100%;
    height: auto;
    position: relative;
}
.next-ten-videos .video-list li .list-box .top-content video{
    width: 100%;
    height: 290px;
    object-fit: cover;
    object-position: center;
}
.next-ten-videos .video-list li .list-box .top-content .video-rank{
    position: absolute;
    left: 10px;
    top: 10px;
    height:50px;
    width: 50px;
    background-color: #c94401;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.next-ten-videos .video-list li .list-box .top-content .video-rank span{
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    color: #ffffff;
    width: 100%;
    text-align: center;
    display: block;
}
.next-ten-videos .video-list li:first-child .list-box .top-content .video-rank{
    background-color: #e01a98;
}
.next-ten-videos .video-list li .list-box .top-content .votes{
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/votes-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 8px;
    z-index: 5;
    display: flex;
    align-items:flex-end;
    padding-bottom: 5px;
}
.next-ten-videos .video-list li .list-box .top-content .votes span{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
}
.next-ten-videos .video-list li .list-box .top-content span.vote-counts{
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}
.next-ten-videos .video-list li .list-box .top-content .votes div{
    width: 100%;
    height: auto;
}
.next-ten-videos .video-list li .vote-btn{
    width: 90%;
}
.next-ten-videos .video-list li .share-btn{
    width: 90%;
}
.next-ten-videos .video-list li .ig-name{
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
}
.next-ten-videos .video-list li .ig-name i{
    color: #e01a98;
    padding-right: 10px;
}
/*
.next-ten-videos .video-list li:first-child{
    padding-left: 0;
}
.next-ten-videos .video-list li:nth-child(5) {
  padding-right: 0px;
}*/

/* Other Videos */
.other-videos{
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    padding: 20px 0 40px;
}
.other-videos .video-list{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}
.other-videos .video-list li{
    list-style: none;
    display: table;
    width: 100%;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px  rgba(0,0,0,0.1);
    margin-bottom: 10px;
    margin-left: 0;
}
.other-videos .video-list li div .rank-circle{
    width: 44px;
    height: 44px;
    background-color: #656565;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 50%;
}
.other-videos .video-list li div .rank-circle span{
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 25px;
    color: #ffffff;
    font-weight: 900;
}
.other-videos .video-list li div .videos-thumbnail{
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center
}
.other-videos .video-list li div .ig-name-box{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.other-videos .video-list li div .ig-name-box .ig-name{
    margin-top: -40px;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
}
.other-videos .video-list li div .ig-name-box .ig-name i{
    color: #e01a98;
    padding-right: 10px;
}
.other-videos .video-list li div.first-column{
    display: table-cell;
    width: 8%;
    vertical-align: middle;
}
.other-videos .video-list li div.second-column{
    display: table-cell;
    width: 72%;
    vertical-align: middle;
    text-align: left;
}
.other-videos .video-list li div.second-column video{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
.other-videos .video-list li div.third-column{
    display: table-cell;
    width: 20%;
    vertical-align: middle;
}
.other-videos .video-list li div.third-column .vote-counts{
    color: #b7142b;
    font-size: 40px;
    font-weight: 700;
    padding-right: 15px;
}
.other-videos .video-list li div.third-column .vote{
    color: #a4a4a4;
    font-size: 30px;
    font-weight: 600;
}
.votes-mobile{
    display: none;
}

/* Video Entries */
.video-entries{
    padding: 20px 60px 40px;
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
}
.video-entries .video-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}
.video-entries .video-list li{
    flex: 0 0 20%;
    list-style: none;
    padding: 15px;
    text-align: center !important;
    margin-left: 0;
}
.video-entries .video-list li .list-box{
    background-color: #ffffff;
    padding: 20px 20px 30px;
    box-shadow: 2px 2px 20px  rgba(0,0,0,0.1);
}
.video-entries .video-list li .video-img{
    width: 100%;
    height: auto;
}
.video-entries .video-list li .list-box .top-content{
    width: 100%;
    height: auto;
    position: relative;
}
.video-entries .video-list li .list-box .top-content .video-rank{
    position: absolute;
    left: 10px;
    top: 10px;
}
.video-entries .video-list li .list-box .top-content .video-rank span{
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    padding: 5px;
    height:50px;
    width: 50px;
    background-color: #c94401;
    border-radius: 50%;
    display: block;
}
.video-entries .video-list li:first-child .list-box .top-content .video-rank span{
    background-color: #e01a98;
}
.video-entries .video-list li .list-box .top-content .votes{
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/votes-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items:flex-end;
    padding-bottom: 5px;
}
.video-entries .video-list li .list-box .top-content .votes span{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
}
.video-entries .video-list li .list-box .top-content span.vote-counts{
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}
.video-entries .video-list li .list-box .top-content .votes div{
    width: 100%;
    height: auto;
}
.video-entries .video-list li .vote-btn{
    width: 90%;
    padding: 7px 20px;
    left: 0;
    color: #000000;
}
.video-entries .video-list li .share-btn{
    width: 90%;
    line-height: 25px;
}
.video-entries .video-list li .ig-name{
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
}
.video-entries .video-list li .ig-name i{
    color: #e01a98;
    padding-right: 10px;
}

.video-entries #sb_instagram #sbi_images{
    display: flex;
    flex-wrap: wrap;
}
/*
.video-entries #sb_instagram.sbi_col_4 #sbi_images .sbi_item{
    width: 100% !important;
}
*/

#sb_instagram.sbi_col_4 #sbi_images .sbi_item{
    width: 20% !important;
    padding: 10px !important;
}
#sb_instagram.sbi_col_4 #sbi_images .sbi_photo_wrap{
    padding: 20px 20px 0px !important;
    background-color: #ffffff;
}
/*.video-entries #sb_instagram .sbi_info{
    display: none;
}*/
.video-entries #sb_instagram #sbi_images img{
    margin: auto !important;
}
#sb_instagram .sbi_photo_wrap .votes {
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/votes-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
#sb_instagram .sbi_photo_wrap .votes div {
    width: 100%;
    height: auto;
}
#sb_instagram .sbi_photo_wrap span{
    display: block;
    text-align: center;
    line-height: inherit;
    color: #ffffff;
}
#sb_instagram .sbi_photo_wrap span.vote-counts {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}
#sb_instagram.sbi_col_4 #sbi_images .sbi_item .sbi_info{
    padding: 0px 20px 20px !important;
    background-color: #ffffff;
}
#sb_instagram.sbi_col_4 #sbi_images .sbi_item .sbi_info .ig-name{
    margin: 15px 0;
}
#sb_instagram.sbi_col_4 #sbi_images .sbi_item .sbi_info .ig-name i{
    color: #e01a98;
}
#sb_instagram.sbi_col_4 #sbi_images .sbi_item .sbi_info .vote-btn{
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
#sb_instagram.sbi_col_4 #sbi_images .sbi_item .sbi_info .share-btn{
    width: 90%;
    display: block;
    margin: auto;
    line-height: 25px;
    margin-bottom: 10px;
}














/* Submit Video */
.submit-box{
    width: 50%;
    display: block;
    margin: auto;
    height: auto;
    padding: 30px 30px 60px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 2px 2px 20px  rgba(0,0,0,0.1);
}
.submit-box .box-title{
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-family: 'bebas';
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 5px;
}
.dropzone {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;;
  width: 100%;
  height: 50%;
  border: 2px dashed #bcbcbc;
    border-radius: 10px;
  text-align: center;
  color: white;
  z-index: 20;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
    padding: 60px 0;
}
.dropzone .instruction{
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
}
.dropzone span{
    color: #bcbcbc;
}
.dropzone .btnCompression .active {
  background: #EB6A5A;
  color: white;
}
.dropzone p{
    color: #bcbcbc;
}
.dropzone .selectFile {
  height: 50px;
  margin: 10px auto;
  position: relative;
  width: 150px;
    display: flex;
    align-items: center;
}
.dropzone label,
.dropzone input {
  cursor: pointer;
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px;
}
.dropzone label {
    background-color: #b7142b;
    color: #ffffff;
    font-family: 'bebas';
    display: inline-block;
    font-size: 1.2em;
    line-height: 50px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.dropzone input[type=file] {
  opacity: 0;
}
.dropzone.in {
  color: white;
  border-color: white;
  background: radial-gradient(ellipse at center, #EB6A5A 0, #c9402f 100%);
}
.dropzone.in i {
  color: #fff;
}
.dropzone.in label {
  background: #fff;
  color: #EB6A5A;
}
.dropzone.hover {
  color: gray;
  border-color: white;
  background: #fff;
  border: 5px dashed gray;
}
.dropzone.hover i {
  color: #EB6A5A;
}
.dropzone.hover label {
  background: #fff;
  color: #EB6A5A;
}
.dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}
.submit-box .url-box{
    width: 100%;
    height: auto;
}
.submit-box .url-box .url{
    border: 1px solid #888888;
    display: block;
    padding: 12px 15px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.submit-box #read{
    height: 20px;
    width: 20px;
}
.submit-box .terms{
    position: relative;
    top: -5px;
    font-size: 15px;
}
.submit-box .terms em{
    font-style: normal;
    color: #b7142b;
    font-weight: 600;
}
.submit-box .submit-video{
    padding: 10px 50px;
    color: #ffffff;
    background-color: #1687c1;
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'bebas';
    text-transform: uppercase;
    letter-spacing:1px;
}



/* Past Champions */
.past-champions{
    padding: 40px 0 60px;
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    border-top: 1px solid #d0d0d0;
}
.past-champions .bl-col-md-6{
    padding-right: 15px;
    padding-left: 15px;
}
.past-champions .content-box{
    margin-bottom: 30px;
}
.past-champions .content-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.past-champions .top-video{
    padding: 0;
    margin: 0;
    display: table;
    margin: auto;
    width: 100%;
    box-shadow: 2px 2px 20px  rgba(0,0,0,0.1);
}
.past-champions .top-video li{
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    width: 50%;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 0;
}
.past-champions .top-video li:last-child{
    vertical-align: top;
}
.past-champions .top-video .top-video-img{
    width: 100%;
    height: auto;
}
.past-champions .top-video .ig-name{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Karla', sans-serif;
}
.past-champions .top-video .ig-name i{
    color: #e01a98;
    padding-right: 10px;
}
.past-champions .top-video .vote-counts{
    color: #b7142b;
    font-size: 90px;
    line-height: 90px;
    font-weight: 900;
    display: block;
}
.past-champions .top-video .votes{
    color: #b7142b;
    font-weight: 800;
    display: block;
    letter-spacing: 1px;
}
.past-champions .top-video .social-media-icons{
    margin-top: 20px;
    width: auto;
    margin-right: auto;
    display:block;
}
.past-champions .share-btn{
    margin: 0;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
}
.past-champions .price-won-box{
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 20px;
}
.past-champions .price-won-box span{
    display: block;
    text-transform: uppercase;
}
.past-champions .price-won-box span.price{
    color: #b7142b;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1px;
}
.past-champions .price-donated-box{
    display: inline-block;
    margin-bottom: 20px;
}
.past-champions .price-donated-box span{
    display: block;
    text-transform: uppercase;
}
.past-champions .price-donated-box span.price{
    color: #c75c26;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1px;
}
.past-champions li .top-content{
    width: 100%;
    height: auto;
    position: relative;
}
.past-champions li .top-content .video-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.past-champions li .top-content .video-rank{
    position: absolute;
    left: 10px;
    top: 10px;
}
.past-champions li .top-content .video-rank span{
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    padding: 5px;
    height:50px;
    width: 50px;
    background-color: #c94401;
    border-radius: 50%;
    display: block;
}
.past-champions li:first-child .top-content .video-rank span{
    background-color: #e01a98;
}
.past-champions li .top-content .votes{
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/votes-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 7px;
    z-index: 5;
    display: flex;
    align-items:flex-end;
    padding-bottom: 5px;
}
.past-champions li .top-content .votes span{
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
}
.past-champions li .top-content span.vote-counts{
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}
.past-champions li .top-content .votes div{
    width: 100%;
    height: auto;
}
.ribbon-box {
    border-left: 0;
    position:relative;
    overflow:hidden;
    z-index:0;
    margin-bottom: 15px;
    width: 90%;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    font-family: 'bebas';
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 2px;
    margin-left: -20px;
}
.ribbon-box:before,
.ribbon-box:after{
    content:"";
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    height:50%;
    border-left:3px solid #b7142b;
    background:#b7142b;
}
.ribbon-box:before {
    top:0;
    transform:skew(135deg);
    transform-origin:top;
}
.ribbon-box:after {
    bottom:0;
    transform:skew(-135deg);
    transform-origin:bottom;
}






.filter-controls{
    padding: 25px 60px;
    background-color: #e8e8e8;
}
button {
      border: none;
      background: transparent;
  font-size: 20px;
  left: -10px;
}
button:focus {
  outline: none;
}

a {
  color: #02b3e4;
  text-decoration: none;
}

.search-bar {
  position: relative;
    display: table-cell;
    font-family: 'bebas';
  background: #ffffff;
  border: 0 !important;
  opacity: 0.7;
  font-size: 20px !important;
    line-height: 20px !important;
    letter-spacing: 1px;
    display: block;
    width: 100%;
    border: 0;
    padding: 0 !important;
}
.search-bar:focus {
  outline: none;
  opacity: 1;
  transition: border 0.2sec ease;
}
.search-bar::selection {
  background: #F5F5F5;
}

.search-btn {
  display: table-cell;
  align-items: center;
  background: #ffffff;
    width: 20px;
}

input::placeholder {
  font-size: 18px;
  color: #000000;
}

.search {
  display: block;
  color: #647680;
}
.filter-controls{
    display: flex;
    flex-wrap: wrap;
}
.filter-controls form{
    flex: 0 0 50%;
}
.filter-controls form.search-filter .search-box{
    max-width: 500px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ffffff;
    display: table;
    width: 100%;
}
.filter-controls .search-filter input{
    display: table-cell;
    vertical-align: middle;
}
.filter-controls .search-filter .search-btn{
    display: table-cell;
    vertical-align: middle;
}
.filter-controls form.date-filter .select-box{
    float: right;
    padding: 15px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ffffff;
        /* for Firefox */ 
        -moz-appearance: none; 
        /* for Safari, Chrome, Opera */ 
        -webkit-appearance: none; 
}
.filter-controls form.date-filter .select-box span{
       text-transform: uppercase;
    font-size: 20px;
    color: #000000;
    font-family: 'bebas';
    line-height: 20px;
}
.filter-controls form.date-filter .select-box select{
    text-transform: uppercase;
    color: #b7142b;
    font-size: 20px;
    font-family: 'bebas';
    line-height: 20px;
}
.filter-controls form.date-filter .select-box select option{
    font-family: 'bebas';
}
.filter-controls form.date-filter .select-box select{
    background-color: transparent;
    border: 0;
}
.filter-controls form.date-filter select::-ms-expand {
    display: none;
}













.text-center{
    text-align: center !important;
}
.bl-row{
	display: flex;
	flex-wrap: wrap;
    width: 100%;
}









/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: $modal-delay;
          transition-delay: $modal-delay;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  -webkit-box-align: start;
          align-items: flex-start;
}
.modal__bg {
  background: rgba(0,0,0,0.9);
}
.modal__dialog {
  max-width: 600px;
    width: 580px;
  padding: 2rem;
    margin-top: 150px;
}
#vote-modal .modal__dialog {
  max-width: 1000px;
    width: 980px;
  padding: 1.2rem;
    margin-top: 150px;
}
#vote-modal .modal__dialog ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#vote-modal .modal__dialog ul li{
    flex: 0 0 50%;
    list-style: none;
    margin-left: 0;
}
#vote-modal .modal__dialog ul li img{
    width: 100%;
    height: auto;
}
#vote-modal .modal__dialog ul li .ig-name{
    font-size: 30px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}
#vote-modal .modal__dialog ul li .ig-name i{
    color: #b7142b;
}
#vote-modal .modal__dialog ul li .votes{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
#vote-modal .modal__dialog ul li .votes span{
    color: #b7142b;
    font-weight: 700;
}
#vote-modal .modal__dialog ul li .votes .vote-counts{
    font-size: 80px;
    line-height: 80px;
    display: block;
    margin-bottom: -5px;
}
#vote-modal .modal__dialog .modal__content{
    padding: 20px;
}
#vote-modal .modal__dialog .modal__content .g-recaptcha{
    margin-top: 20px;
}
#vote-modal .modal__dialog .modal__content .g-recaptcha div{
    display: block;
    margin: auto;
}
.modal__dialog .modal-logo{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.modal__dialog .modal-title{
    text-transform: uppercase;
    text-align: center;
    font-family: 'bebas';
    font-size: 33px;
    letter-spacing: 1px;
    font-weight: 500;
}
.modal__dialog .modal-input{
    width: 100%;
    display: block;
    padding: 12px 15px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 10px;
    line-height: 18px;
    height: auto;
}
.modal__dialog .modal-btn{
    width: 100%;
    display: block;
    text-align: center;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: 'bebas';
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.modal__dialog .modal-btn i{
    float: left;
}
.modal__dialog .btn-login{
    background-color: #b7142b;
    color: #ffffff;
    margin-top: 10px;
}
.modal__dialog .btn-login-facebook{
    background-color: #1d478b;
}
.modal__dialog .btn-login-google{
    background-color: #5086ec;
}
.modal__dialog .modal-separator{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-align: center;
}
.modal__dialog .terms-agreement{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #888888;
    margin-bottom: 20px;
}
.modal__dialog .terms-agreement em{
    font-style: normal;
    font-weight: 600;
}
.forgot-password{
    color: #000000;
    font-size: 14px;
}
.modal__dialog .sign-up{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: block;
    text-align: center;
}
.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 30px 60px;
  background: #ffffff;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 3px;
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}
.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger:hover {
  background: #ffffff;
    color: #b7142b;
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffebee;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/**
 * Demo specific CSS
 */
img {
  max-width: 100%;
}
.demo-btns header {
  padding: 7vh 10vw;
  background: #ffebee;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.demo-btns header h1 {
  margin: 0;
  color: rgba(0,0,0,0.54);
  font-weight: 300;
}
.demo-btns .info {
  background: #f44336;
  padding: 3vh 10vw;
  height: 70vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
}
.demo-btns p {
  text-align: center;
  color: #fff;
}
.demo-btns .link {
  font-size: 20px;
}
.demo-btns .modal__trigger {
  margin-right: 3px;
}
@media (max-width: 640px) {
  .demo-btns .modal__trigger {
    margin-bottom: 0.8rem;
  }
}
.demo-close {
  position: absolute;
  top: -60px;
  right: -60px;
  margin: 1.2rem;
  padding: 0.6rem;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
  width: 30px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}
.demo-close:hover {
  background: rgba(0,0,0,0.6);
}
.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}
.logo img {
  width: 45px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}






.slider-section .progress-bg {
	margin: 0 auto;
	width: 65%;
	height: 40px;
    text-align: left;
	border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    padding: 3px;
    background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/progress-bar-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-section .progress-bar {
	height: 32px;
    border-radius: 5px;
    float: left;
    width: 60%;
    display: flex;
    align-items: left;
    background-color: #ffffff;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.slider-section .progress-bg h3.goal, .progress-bg h3.raised {
	font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
	line-height: 14px;
	margin: 0;
	padding: 0;
	text-align: left;
	display: inline;
}


.slider-section .progress-bg h3.raised {
	color: #c75b26;
} 
.slider-section .progress-bg h3.raised {
    -webkit-animation: fadein 8s; /* Safari and Chrome */
       -moz-animation: fadein 8s; /* Firefox */
        -ms-animation: fadein 8s; /* Internet Explorer */
         -o-animation: fadein 8s; /* Opera */
            animation: fadein 8s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.progress-bg h3.goal {
	float: right;
	display: inline;
	padding: 0 25px 0 0;
  text-align: center;
}

.slider-section .progress-bg div {
	-webkit-animation: progress-bar 2s ease forwards;
	-moz-animation: progress-bar 2s ease forwards;
	-o-animation: progress-bar 2s ease forwards;
	animation: progress-bar 2s ease forwards;
}

@-webkit-keyframes progress-bar {
    from { width: 0%; }
    to { width: 60%; }
}

@-moz-keyframes progress-bar {
    from { width: 0%; }
    to { width: 60%; }
}

@-o-keyframes progress-bar {
    from { width: 0%; }
    to { width: 60%; }
}

@keyframes progress-bar {
    from { width: 0%; }
    to { width: 60%; }
}






#sb_instagram.sbi_col_5 #sbi_images .sbi_item{
    padding: 10px !important;
}
#sb_instagram .sbi_photo_wrap{
    padding: 20px 20px 0 !important;
    background-color: #ffffff;
}
#sb_instagram .sbi_info{
    padding: 20px 20px !important;
    background-color: #ffffff;
}
#sb_instagram .sbi_info .vote-btn{
    width: 90%;
}
#sb_instagram .sbi_info .share-btn{
    width: 90%;
    line-height: 25px;
}
@media (max-width: 1800px){
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item{
        width: 25% !important;
    }
}
@media (max-width: 1440px){
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item{
        width: 33.33% !important;
    }
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item .sbi_info .vote-btn{
        width: 100%;
        padding: 15px 20px !important;
    }
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item .sbi_info .share-btn{
        width: 100%;
        padding: 15px 20px !important;
    }
}
@media (max-width: 1024px){
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item{
        width: 50% !important;
    }
}
@media (min-width: 800px){
    .sbi_lightbox.sbi_lb-comments-enabled{
        top: 150px !important;
    }
}
@media (min-width: 768px){
	.bl-col-md-6{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.bl-col-md-3{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.bl-col-md-12{
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width: 768px){
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item .sbi_info .vote-btn{
        width: 100%;
    }
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item .sbi_info .share-btn{
        width: 100%;
    }
}
@media (max-width: 767px){
	.bl-col-md-6{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.bl-col-md-3{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.bl-col-md-12{
		flex: 0 0 100%;
		max-width: 100%;
	}
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item .sbi_info .vote-btn{
        width: 100%;
        padding: 15px 10px !important;
        font-size: 20px;
    }
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item .sbi_info .share-btn{
        width: 100%;
        padding: 15px 10px !important;
        font-size: 20px;
    }
}
@media (max-width: 767px){
    .slider-section{
        width: 100%;
        background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/slider-mobile-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 1;
    }
    .slider-section .slider-content{
        background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/slider-content-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 40px 0;
        width: 96%;
        height: auto;
        display: block;
        margin: 100px auto 0;
        position: relative;
        z-index: 1;
    }
    body .slider-section .slider-thumbnail{
        width: 80%;
        margin: auto;
        position: relative;
        z-index: 3;
    }
    .slider-section h1{
        font-size: 45px;
        line-height: 45px;
    }
    .idea-section{
        position: relative;
        z-index: 2;
    }
    .idea-section .section-title{
        font-size: 50px;
        line-height: 50px;
        text-align: center;
    }
    .idea-section .paragraph-white{
        text-align: center;
        margin-bottom: 20px;
    }
    .idea-section .ideas-gallery{
        width: 100%;
        margin-top: 20px;
    }
    .htp-section {
        background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/how-to-participate-mobile-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        padding: 80px 0px;
    }
    .htp-section .section-title{
        line-height: 50px;
    }
    .htp-section .bl-col-md-3 .content-box{
        margin-bottom: 40px;
    }
    .htp-section .details{
        font-size: 1.3rem;
        line-height: 2rem;
    }
    
    .cta-section{
        min-height: 987px;
        background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/cta-section-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        padding: 80px 0px;
        display: block;
    }
    .cta-section .bl-col-md-6{
        text-align: center !important;
    }
    .cta-section .section-title{
        font-size: 70px;
        line-height: 70px;
        text-align: center;
    }
    .cta-section .section-description{
        font-size: 1.8rem;
        text-align: center;
    }
    .cta-section .section-description br{
        display: none;
    }
    .participate-btn{
        font-size: 50px;
        line-height: 50px;
        text-align: left;
        margin: auto;
        margin-bottom: 20px;
    }
    .participate-btn::after{
        top: -5px;
    }
    .entries-btn{
        font-size: 50px;
        text-align: left;
        margin: auto;
    }
    .order-1{
        order: 1;
    }
    .order-2{
        order: 2;
    }
    .faq-section .section-title{
        font-size: 50px;
    }
    #vote-modal .modal__dialog ul li img{
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 40px;
    }
    #vote-modal .modal__dialog {
      max-width: 600px;
        width: 600px;
      padding: 1.2rem;
        margin-top: 150px;
    }
    #vote-modal .modal__dialog ul li{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .video-entries .video-list li{
        flex: 0 0 100%;
    }
    .header-slider .content-box{
        width: 100%;
    }
    .header-slider .header-title{
        font-size: 30px;
    }
    .header-slider .header-subtitle{
        font-size: 1rem;
    }
    .bl-nav{
        padding: 25px 30px;
    }
    nav{
        padding: 0;
        display: block !important;
    }
    nav ul.bl-nav-list > li{
        padding: 15px;
    }
    nav ul.bl-nav-list{
        padding: 0 30px;
    }
    .bl-nav .bl-nav-list{
        margin: auto;
        margin-bottom: 20px;
    }
    .bl-nav .bl-nav-list li{
        padding-right: 15px;
    }
    .bl-control-list {
        width: 100%;
        float: none;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        padding: 0 30px;
    }
    .bl-control-list li{
        flex: 0 0 50%;
        padding: 10px;
    }
    .bl-control-list li a{
        width: 100%;
        text-align: center;
        display: block;
    }
    .filter-controls{
        padding: 25px 30px;
    }
    form#search-form{
        width: 350px;
    }
    .main-content .top-video{
        width: 100%;
    }
    .main-content .top-video li{
        display: block;
        width: 100%;
    }
    .next-ten-videos .video-list li{
        flex: 0 0 100%;
    }
    .next-ten-videos .video-list{
        max-width: 510px;
        margin: auto;
    }
    .next-ten-videos .video-list li{
        padding: 15px 0;
    }
    .other-videos .video-list li{
        padding: 15px 20px;
    }
    .past-champions .top-video li{
        display: block;
        width: 100%;
        padding: 20px;
    }
    .ribbon-box{
        margin-left: 0;
    }
    .submit-box{
        width: 100%;
    }
    .other-videos .video-list li{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .other-videos .video-list li div.first-column{
        flex: 0 0 20%;
        max-width: 20%;
        order: 2;
    }
    .other-videos .video-list li div.second-column{
        flex: 0 0 80%;
        max-width: 80%;
        order: 1;
        display: flex;
        align-items: center;
    }
    .other-videos .video-list li div .videos-thumbnail{
        padding-right: 20px;
    }
    .other-videos .video-list li div.third-column{
        display: none;
    }
    .votes-mobile{
        display: block;
    }
    .other-videos .video-list li div .rank-circle{
        margin-left: auto;
    }
    .other-videos .video-list li div.votes-mobile .vote-counts{
        color: #b7142b;
        font-size: 30px;
        font-weight: 700;
        padding-right: 5px;
    }
    .other-videos .video-list li div.votes-mobile .vote{
        color: #a4a4a4;
        font-size: 25px;
        font-weight: 600;
    }
    .vote-btn{
        padding: 15px 20px;
        font-size: 30px;
    }
    .share-btn{
        padding: 15px 20px;
        font-size: 30px;
    }
    .main-content .top-video li .vote-btn{
        width: 65%;
        padding: 15px 20px !important;
    }
    .main-content .top-video li .share-btn{
        width: 65%;
        padding: 15px 20px !important;
    }
    .other-videos .video-list li div.second-column video{
        padding-right: 15px;
    }
}
@media (max-width: 600px){
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item{
        width: 100% !important;
    }
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item .sbi_info .vote-btn{
        width: 100%;
        padding: 15px 20px !important;
        font-size: 25px;
    }
    #sb_instagram.sbi_col_5 #sbi_images .sbi_item .sbi_info .share-btn{
        width: 100%;
        padding: 15px 20px !important;
        font-size: 25px;
    }
}
@media (max-width: 576px){
    .slider-section h1{
        font-size: 35px;
        line-height:35px;
    }
    .slider-section img.funds{
        width: 80%;
        display: block;
        margin: auto;
    }
    .participate-btn{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .entries-btn{
        font-size: 40px;
    }
    .cta-section{
        min-height:767px;
    }
    .cta-section .section-title{
        font-size: 50px;
        line-height: 50px;
    }
    .bl-nav .bl-nav-list li{
        display: block;
        margin-bottom: 20px;
    }
    .video-entries{
        padding: 20px 30px 40px;
    }
    .main-content .top-video li .vote-btn{
        width: 80%;
        padding: 15px 20px !important;
    }
    .main-content .top-video li .share-btn{
        width: 80%;
        padding: 15px 20px !important;
    }
    .other-videos .video-list li div .ig-name-box .ig-name{
        font-size: 18px;
    }
    .other-videos .video-list li div.votes-mobile .vote-counts{
        font-size: 20px;
    }
    .other-videos .video-list li div.votes-mobile .vote{
        font-size: 18px;
    }
    .video-entries .video-list li{
        padding: 15px 0;
    }
    .bl-control-list{
        border-top: 1px solid #981326;
    }
    .next-ten-videos{
        padding: 20px 30px 20px;
    }
    .slider-section .progress-bg{
        width: 75%;
    }
    .slider-section .progress-bar{
        width: 70%;
    }
    @-webkit-keyframes progress-bar {
        from { width: 0%; }
        to { width: 70%; }
    }

    @-moz-keyframes progress-bar {
        from { width: 0%; }
        to { width: 70%; }
    }

    @-o-keyframes progress-bar {
        from { width: 0%; }
        to { width: 70%; }
    }

    @keyframes progress-bar {
        from { width: 0%; }
        to { width: 70%; }
    }
}
@media (max-width: 450px){
    .slider-section .slider-content{
        background-size: contain;
    }
    .slider-section h4{
        font-size: 22px;
    }
    .slider-section h1{
        font-size: 25px;
        line-height: 25px;
    }
    .slider-section h2{
        font-size: 50px;
        line-height: 50px;
    }
    .participate-btn{
        font-size: 30px;
        line-height: 30px;
    }
    .participate-btn::after{
        top: 2px;
    }
    .entries-btn{
        font-size: 30px;
        line-height: 30px;
    }
    .idea-section .section-title{
        font-size: 35px;
        line-height: 35px;
    }
    .htp-section .section-title{
        font-size: 35px;
        line-height: 35px;
    }
    .htp-section .details{
        font-size: 18px;
        line-height: 22px;
    }
    .cta-section .section-title{
        font-size: 35px;
        line-height: 35px;
    }
    .cta-section .section-description{
        font-size: 18px;
        line-height: 22px;
    }
    .faq-section .section-title{
        font-size: 35px;
        line-height: 40px;
    }
    form#search-form{
        width: 250px;
    }
    .search-bar{
        font-size: 13px;
    }
    .search-bar::placeholder{
        font-size: 13px;
    }
    .bl-control-list li{
        flex: 0 0 50%;
    }
    .bl-control-list li a.login{
        font-size: 16px;
    }
    .bl-control-list li a.submit{
        font-size: 16px;
    }
    .vote-btn{
        font-size: 20px;
        padding: 15px !important;
    }
    .share-btn{
        font-size: 20px;
        padding: 15px !important;
    }
    .header-slider .content-box{
        background: url(https://beerlife.com/wp-content/themes/Newspaper/challenge-images/header-slider-content-bg-mobile.png);
        width: 85%;
        padding: 20px 10px;
        background-size: contain!important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    .header-slider .header-title{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .header-slider .header-subtitle{
        line-height: 1rem;
        display: block;
        padding: 0 20px;
    }
    
    .slider-section .progress-bg{
        width: 85%;
    }
    .slider-section .progress-bar{
        width: 75%;
    }
    @-webkit-keyframes progress-bar {
        from { width: 0%; }
        to { width: 75%; }
    }

    @-moz-keyframes progress-bar {
        from { width: 0%; }
        to { width: 75%; }
    }

    @-o-keyframes progress-bar {
        from { width: 0%; }
        to { width: 75%; }
    }

    @keyframes progress-bar {
        from { width: 0%; }
        to { width: 75%; }
    }
}




#vote-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    background: rgba(0,0,0,0.9);
    height: -webkit-fill-available;
    display: none;
    z-index: 9999;
    background: rgba(0,0,0,0.9);
    /* -webkit-box-align: start; */
    align-items: center;
    -webkit-box-pack: center;
}
#vote-modal .modal-body {
    display: flex;
    position: relative;
    max-width: 1000px;
    width: 980px;
    margin: auto;
    background: #ffffff;
}
#vote-modal .modal-content {
    width: 100%;
    display: block;
    margin: auto;
    position: relative;
    background-color: #fff;
}
#vote-modal .modal-content ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
}
#vote-modal .modal-content ul li{
    flex: 0 0 50%;
    list-style: none;
    margin: 0;
    padding: 20px;
}
#vote-modal .modal-content ul li .video-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
#vote-modal .modal-content ul li .votes {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#vote-modal .modal-content ul li .votes .vote-counts {
    font-size: 80px;
    line-height: 80px;
    display: block;
    margin-bottom: -5px;
}
#vote-modal .modal-content ul li .votes span {
    color: #b7142b;
    font-weight: 700;
}
#vote-modal .modal-content .g-recaptcha div{
    display: block;
    margin: auto;
}


#login-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    background: rgba(0,0,0,0.9);
    height: -webkit-fill-available;
    display: none;
    z-index: 9999;
    background: rgba(0,0,0,0.9);
    /* -webkit-box-align: start; */
    align-items: center;
    -webkit-box-pack: center;
}
#login-modal .modal-body {
    display: flex;
    position: relative;
    max-width: 600px;
    width: 580px;
    margin: auto;
    padding: 2rem;
}
#login-modal .modal-content {
    width: 100%;
    display: block;
    margin: auto;
    padding: 30px 60px;
    position: relative;
    background-color: #fff;
}
#login-modal .modal-content .modal-logo{
    width: auto;
    display: block;
    margin: auto;
}
#login-modal .modal-content .modal-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'bebas';
    font-size: 33px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 0;
}
#login-modal .modal-content .modal-input {
    width: 100%;
    display: block;
    padding: 12px 15px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 10px;
    line-height: 18px;
    height: auto;
    border-color: #b0b0b0 !important;
}
#login-modal .modal-content .btn-login {
    background-color: #b7142b;
    color: #ffffff;
    margin-top: 10px;
}
#login-modal .modal-content .btn-login-facebook {
    background-color: #1d478b;
}
#login-modal .modal-content .btn-login-google {
    background-color: #5086ec;
}
#login-modal .modal-content .modal-btn {
    width: 100%;
    display: block;
    text-align: center;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: 'bebas';
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
#login-modal .modal-content .modal-separator{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-align: center;
}
#login-modal .modal-content .terms-agreement {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #888888;
    margin-bottom: 20px;
}
#login-modal .modal-content .terms-agreement em {
    font-style: normal;
    font-weight: 600;
}
#login-modal .modal-content .sign-up {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: block;
    text-align: center;
}


#register-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: block;
    background: rgba(0,0,0,0.9);
    height: -webkit-fill-available;
    display: none;
    z-index: 9999;
    background: rgba(0,0,0,0.9);
    /* -webkit-box-align: start; */
    align-items: center;
    -webkit-box-pack: center;
}
#register-modal .modal-body {
    display: flex;
    position: relative;
    max-width: 600px;
    width: 580px;
    margin: auto;
    padding: 2rem;
}
#register-modal .modal-content {
    width: 100%;
    display: block;
    margin: auto;
    padding: 30px 60px;
    position: relative;
    background-color: #fff;
}
#register-modal .modal-content .modal-logo{
    width: auto;
    display: block;
    margin: auto;
}
#register-modal .modal-content .modal-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'bebas';
    font-size: 33px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 0;
}
#register-modal .modal-content .modal-input {
    width: 100%;
    display: block;
    padding: 12px 15px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 10px;
    line-height: 18px;
    height: auto;
    border-color: #b0b0b0 !important;
}
#register-modal .modal-content .btn-login {
    background-color: #b7142b;
    color: #ffffff;
    margin-top: 10px;
}
#register-modal .modal-content .btn-login-facebook {
    background-color: #1d478b;
}
#register-modal .modal-content .btn-login-google {
    background-color: #5086ec;
}
#register-modal .modal-content .modal-btn {
    width: 100%;
    display: block;
    text-align: center;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: 'bebas';
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
#register-modal .modal-content .modal-separator{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-align: center;
}
#register-modal .modal-content .terms-agreement {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #888888;
    margin-bottom: 20px;
}
#register-modal .modal-content .terms-agreement em {
    font-style: normal;
    font-weight: 600;
}
#register-modal .modal-content .sign-up {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: block;
    text-align: center;
}













.single-entry-section{
    padding: 100px 0;
}
.single-entry-section .top-video video{
    width: 100%;
    min-height: 400px;
    object-fit: cover;
    object-position: center;
}
.single-entry-section .top-video li:first-child{
    width: 60%;
}
.single-entry-section .top-video li:last-child{
    width: 40%;
}
.single-entry-section .top-video .vote-btn{
    width: 75%;
}
@media (max-width: 1024px){
    #vote-modal .modal-body {
        margin: 40px;   
    }
}
@media (max-width: 767px){
    #vote-modal .modal-body {
        width: 500px;   
        margin: auto;
    }
    #vote-modal .modal-content ul li{
        flex: 0 0 100%;
    }
    #vote-modal .modal-content ul li .video-img{
        width: 70%;
        display: block;
        margin: auto;
    }
    #login-modal .modal-body {
        width: 500px;   
        margin: auto;
        margin-top: 50px;
    }
    #register-modal .modal-body {
        width: 500px;   
        margin: auto;
        margin-top: 50px;
    }
    .single-entry-section .top-video li:first-child{
        width: 100%;
    }
    .single-entry-section .top-video li:last-child{
        width: 100%;
    }
}
@media (max-width: 570px){
    #vote-modal .modal-body {
        width: 350px;   
        margin: auto;
    }
    #vote-modal .modal-content ul li .video-img{
        width: 100%;
        display: block;
        margin: auto;
    }
    #login-modal{
        position: absolute;
    }
    #login-modal .modal-content{
        padding: 30px;
    }
    #login-modal .modal-content .modal-title{
        font-size: 25px;
    }
    #register-modal{
        position: absolute;
    }
    #register-modal .modal-content{
        padding: 30px;
    }
    #register-modal .modal-content .modal-title{
        font-size: 25px;
    }
}
@media (max-width: 375px){
    #login-modal .modal-content{
        padding: 20px;
    }
    #login-modal .modal-content .modal-title{
        font-size: 20px;
        margin-top: 0;
    }
    #login-modal .modal-content .modal-logo{
        width: 50%;
        display: block;
        margin: auto;
    }
    #register-modal .modal-content{
        padding: 20px;
    }
    #register-modal .modal-content .modal-title{
        font-size: 20px;
        margin-top: 0;
    }
    #register-modal .modal-content .modal-logo{
        width: 50%;
        display: block;
        margin: auto;
    }
}











.bl-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media (min-width: 576px){
    .bl-container {
        max-width: 540px;
        display: block;
        margin: auto;
        width: 100%;
    }
}
@media (min-width: 768px){
    .bl-container {
        max-width: 720px;
        display: block;
        margin: auto;
        width: 100%;
    }
}
@media(min-width: 1200px){
	.bl-container{
		max-width: 1310px;
		margin: auto;
        width: 100%;
	}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

    html, body{
        width:100%;
        overflow-x: hidden;
    }

}    
